body {
    margin: 0;
    padding: 0;
}

.sectionGreeting, .sectionAboutMe, .sectionProjects {
    display: flex;
    justify-content: center;
}

.sectionGreeting {
    background-color: cornflowerblue;
}

.sectionAboutMe {
    background-color: chartreuse;
}

.sectionProjects {
    background-color: darkslateblue;
}