/* Detailed Project Page Styles */

.pageTitle {
    position: relative;
    text-align: center;
    font-size: 65px;
}

.smallerTitle {
    font-size: 45px;
}

.returnSection {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 2vmin;
}

.returnButton {
    background-color: rgb(224, 224, 195);
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;

    position: relative;
    padding: 1vmin;
}

.returnButton:hover {
    background-color: rgb(212, 192, 161);
}

.returnButton > h1 {
    font-size: 30px;
}

.titleVideo {
    display: flex;
    justify-content: center;
}

.titleVideoContainer {
    text-align: center;
    position: relative;
    max-width: 100%;
    height: 500px;
}

.titleVideoContainer > video {
    height: 100%;
    width: auto;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    border: 2px solid black;
}

.githubLink {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 2vmin;
    padding-bottom: 3vmin;
    border-bottom: 2px solid black;
}

.githubButton {
    background-color: rgb(224, 224, 195);
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;

    display: flex;
    padding: 1vmin;
}

.githubButton:hover {
    background-color: rgb(212, 192, 161);
}

.githubButton > img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    object-position: center;
}

.githubButton > h1 {
    font-size: 30px;
    padding: 1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageContent {
    padding: 2vmin;
}

.pageContent > h1 {
    padding: 1vmin;
    font-size: 65px;
}

.pageContent > h2 {
    padding: 1vmin;
    font-size: 45px;
}

.pageContent > p {
    font-size: 25px;
    line-height: 1.4;
}

.subtitleText {
    padding-left: 2vmin;
    padding-right: 2vmin
}

.inlineMediaContainer {
    padding: 2vmin;
    gap: 2vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inlineMediaContainer > img, .inlineMediaContainer > video {
    max-width: 45vw;
}

.singleMedia > img, .singleMedia > video {
    max-width: 70vw;
}

@media only screen and (min-width: 830px) and (max-width: 1299px){
    .pageTitle {
        font-size: 60px;
    }

    .smallerTitle {
        font-size: 48px;
    }

    .returnButton > h1 {
        font-size: 30px;
    }

    .titleVideo {
        padding: 3vmin;
    }

    .titleVideoContainer {
        max-height: 400px;
    }
}

@media only screen and (max-width: 829px) {
    .pageTitle {
        font-size: 10vmin;
    }

    .smallerTitle {
        font-size: 6vmin;
    }

    .returnButton > h1 {
        font-size: 8vmin;
    }

    .titleVideo {
        padding: 3vmin;
    }

    .titleVideoContainer {
        max-height: 50vmin;
    }

    .githubButton > img {
        width: 12vmin;
        height: 12vmin;
    }

    .githubButton > h1 {
        font-size: 8vmin;
    }

    .pageContent > h1 {
        font-size: 12vmin;
    }

    .pageContent > h2 {
        font-size: 10vmin;
    }

    .pageContent > p {
        font-size: 6vmin;
    }

    .inlineMediaContainer {
        gap: 0;
    }

    .inlineMediaContainer > img {
        max-width: 70vw;
    }
    
    .singleMedia > img {
        max-width: 95vw;
    }
}