* {
    margin: 0;
    padding: 0;
}

.fontLora, .fontLoraSemiBold, .fontLoraBold {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.fontLora {
    font-weight: 400;
}
.fontLoraSemiBold{
    font-weight: 500;
    color: rgb(36, 36, 35);
}
.fontLoraBold {
    font-weight: 700;
    color: rgb(36, 36, 35);
}

body {
    background-color: rgb(173, 202, 214);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    position: relative;
    top: 10px;
    padding: 15px;
    width: 80vw;
    
}

/* -- Title Section Styles -- */

.title {
    padding-top: 60px;
    position: relative;
    text-align: center;
    font-size: 3vw;
    height: 100vh;
    border-bottom: 2px solid black;
}

.titleContent {
    padding-top: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

.titleImage {
    border-radius: 50%;
    width: 25%;
}

.titleText {
    max-width: 50vw;
    padding-left: 30px;
}

/* -- About Me Section Styles -- */

.aboutMe {
    display: flex;
    height: 200vh;
}

.aboutMeTitle {
    text-align: center;
    font-size: 2.5vw;
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-right: 2px solid black;
}

.aboutMePages {
    width: 70%;
}

.aboutMePages div> p {
    width: 80%;
    font-size: 20px;
    line-height: 1.6;
}

.aboutMePages div> h2 {
    font-size: 50px;
}

.aboutMePageOne {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.aboutMePageTwo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.aboutMePageTwoImages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 100%;
}

.aboutMePageTwoIcon {
    padding: 20px;
    width: 20%;
    height: auto;
}

/* -- Projects Section Styles -- */

.projects {
    background-color: brown;
    border-top: 2px solid black;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#projectImageTrack {
    display: flex;
    position: absolute;
    top: 10%;
    left: 50%;
    translate: 0%, 0%;
    gap: 4vmin;
}

.projectImageTrack > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
}