* {
    margin: 0;
    padding: 0;
}

body {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    position: relative;
    top: 40px;
    width: 80vw;
    background-color: cyan;
}

.sectionGreeting, .sectionAboutMe, .sectionProjects {
    position: relative;
}

/* -- Greeting Section Styles -- */

.sectionGreeting {
    background-color: green;
    display: inline-flex;
}

.divTitleImage {
    background-color: chocolate;
}

.titleImage {
    padding: 20px;
    max-width: 30vw;
}

.sectionTitle {
    max-width: 30vw;
    background-color: rgb(255, 0, 212);
}

.sectionTitleText {
    background-color: lime;
    text-align: center;
    font-size: 6vw;
}

/* -- About Me Section Styles -- */

.sectionAboutMe {
    background-color: chartreuse;
}

/* -- Projects Section Styles -- */

.sectionProjects {
    background-color: darkslateblue;
}










/* .divGreeting {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sectionGreeting {
    background-color: cornflowerblue;
}

.portraitImage {
    width: 40%;
    padding: 10px;
    position: relative;
    left: -5vw;
}



.greetingTitleText {
    font-size: 6vw;
    padding: 10px;
    text-align: center;
} */